<%- include('includes/header.ejs', {username: username}) %> <!--Al tener un usuario, hay que definirlo en el template, esto se hace en todos los templates-->

<div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://static.wikia.nocookie.net/starboundgame/images/f/f0/Novakid_Male.png/revision/latest?cb=20130609132450" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://static.wikia.nocookie.net/starboundgame/images/f/f0/Novakid_Male.png/revision/latest?cb=20130609132450" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Avian</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>
    
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>