<%- include('includes/header.ejs', {
    username: username, 
    permisos: permisos
}) %>

<h1 class="title">Hola Mundo Starbound</h1>
    <p class="subtitle">Mi primer sitio con <strong>Bulma</strong>!</p>
        <div class="block">
            <figure class="image is-256x256">
                <img id="imagen_construir" src="https://i.redd.it/6c1r6kb495mx.jpg" >
            </figure>
        </div>
        <div>
        <button id="boton_construir" class="button is-primary">Construir casa</button> <!--Un boton para cambiar imagen-->
        </div>
    <br>
</div>

<%- include('includes/footer.ejs') %>