<%- include('includes/header.ejs', {username: username}) %> 
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://static.miraheze.org/frackinuniversewiki/c/c4/PortaitHuman.PNG" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://static.miraheze.org/frackinuniversewiki/c/c4/PortaitHuman.PNG" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Humano</p>
                        <p class="subtitle is-6">@Starbound</p>
                    </div>
                </div>
                
                <div class="content">
                    Nómadas por naturaleza o quizás, por necesidad, los humanos se extendieron sin miedo a la inmensidad
                    del espacio a tal punto de que se volvieron la raza más abundante en la galaxia.
                    <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">22 Jul 2016</time>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.miraheze.org/frackinuniversewiki/1/1f/PortraitHylotl.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.miraheze.org/frackinuniversewiki/1/1f/PortraitHylotl.PNG" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Hylotl</p>
                <p class="subtitle is-6">@Starbound</p>
              </div>
            </div>
        
            <div class="content">
                Los pacíficos hylotl dan gran valor a la tradición ancestral y se sienten muy cómodos con las artes. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">22 Jul 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.miraheze.org/frackinuniversewiki/7/7b/PortraitAvian.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.miraheze.org/frackinuniversewiki/7/7b/PortraitAvian.PNG" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Avian</p>
                <p class="subtitle is-6">@Starbound</p>
              </div>
            </div>
        
            <div class="content">
                Los avian, una raza de pájaros coloridos cuya cultura tribal gira en torno al culto a Kluex, el dios alado del Éter. 
                Sus soldados están entrenados desde su nacimiento para ser feroces guerreros que protegerán sus templos a cualquier precio. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">22 Jul 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.miraheze.org/frackinuniversewiki/0/0e/PortraitFloran.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.miraheze.org/frackinuniversewiki/0/0e/PortraitFloran.PNG" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Floran</p>
                <p class="subtitle is-6">@Starbound</p>
              </div>
            </div>
        
            <div class="content">
                ¡No te dejes engañar por su apariencia pacífica! Los floran son conocidos por ser cazadores carnívoros y agresivos. 
                No son particularmente inventivos por sí solos, les gusta robar y adaptar tecnología de las personas a las que han atacado. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">22 Jul 2016</time>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.miraheze.org/frackinuniversewiki/f/f9/PortraitApex.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.miraheze.org/frackinuniversewiki/f/f9/PortraitApex.PNG" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Apex</p>
                <p class="subtitle is-6">@Starbound</p>
              </div>
            </div>
        
            <div class="content">
                Una raza de primates muy inteligentes. Durante milenios, los apex tuvieron una apariencia cercana a la humana hasta que 
                un avance científico les permitió cambiar la devolución física por la evolución intelectual. <a>@Starbound</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">22 Jul 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.miraheze.org/frackinuniversewiki/9/9d/PortraitGlitch.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.miraheze.org/frackinuniversewiki/9/9d/PortraitGlitch.PNG" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Glitch</p>
                <p class="subtitle is-6">@Starbound</p>
              </div>
            </div>
        
            <div class="content">
              Los glitch fueron creados para con el fin de smular una civilización. 
              Una falla en su programación causó que se atascaran al principio de una simulación y, 
              hasta el día de hoy, no pueden deshacerse de sus valores y creencias medievales<a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">22 Jul 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.miraheze.org/frackinuniversewiki/8/8e/PortraitNovakid.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.miraheze.org/frackinuniversewiki/8/8e/PortraitNovakid.PNG" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Novakid</p>
                <p class="subtitle is-6">@Starbound</p>
              </div>
            </div>
        
            <div class="content">
                Forjados hace eones en los hornos de fusión de una estrella ahora muerta, 
                los novakid son un ejemplo perfecto de la belleza emergente de la naturaleza. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">22 Jul 2016</time>
            </div>
          </div>
        </div>
    </div>

</div>

<%- include('includes/footer.ejs') %>