<%- include('includes/header.ejs', {username: username}) %> 
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/starbound/3/3d/Human_Male.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/starbound/3/3d/Human_Male.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Humano</p>
                        <p class="subtitle is-6">@johnsmith</p>
                    </div>
                </div>
                
                <div class="content">
                    Nómadas por naturaleza o quizás, por necesidad, los humanos se extendieron sin miedo a la inmensidad
                    del espacio a tal punto de que se volvieron la raza más abundante en la galaxia.
                    <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/starbound/f/f6/Hylotl_Female.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/starbound/f/f6/Hylotl_Female.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Hylotl</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://steamuserimages-a.akamaihd.net/ugc/2423375955449523670/4DEE89860392DC6A18E7581C3A5BE0536501F264/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://steamuserimages-a.akamaihd.net/ugc/2423375955449523670/4DEE89860392DC6A18E7581C3A5BE0536501F264/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Avian</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://starbounder.org/mediawiki/images/thumb/d/d2/Floran-ExplorersGuide.png/250px-Floran-ExplorersGuide.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://starbounder.org/mediawiki/images/thumb/d/d2/Floran-ExplorersGuide.png/250px-Floran-ExplorersGuide.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Floran</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.wikia.nocookie.net/starboundgame/images/6/65/Apex_%28Male%29_-_Race_-_Starbound.png/revision/latest/scale-to-width/360?cb=20220218121928" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.wikia.nocookie.net/starboundgame/images/6/65/Apex_%28Male%29_-_Race_-_Starbound.png/revision/latest/scale-to-width/360?cb=20220218121928" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Apex</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://preview.redd.it/glitch-upscale-on-u-madneutronstars-character-brightblade-v0-xhuaa0abag981.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://preview.redd.it/glitch-upscale-on-u-madneutronstars-character-brightblade-v0-xhuaa0abag981.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Glitch</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://static.wikia.nocookie.net/starboundgame/images/f/f0/Novakid_Male.png/revision/latest?cb=20130609132450" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://static.wikia.nocookie.net/starboundgame/images/f/f0/Novakid_Male.png/revision/latest?cb=20130609132450" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Novakid</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
    </div>

</div>

<%- include('includes/footer.ejs') %>